.ui-menu.ui-widget {
    margin: 0 auto;
    padding: 0;
}

.ui-menu-list {
    display: flex;
    text-align: center;
}

.ui-menuitem-link.active .ui-menuitem-text {
    color: #4a7dd5 !important;
}

.ui-card {
    margin: 24px 32px;
}

.ui-card-body {
    margin-block-start: 24px;
}

.ui-selectmanycheckbox {
    margin-block-start: 12px;
}

.settings-button-wrapper {
    margin-block-start: 32px;
}
