.ui-menu.ui-widget {
    margin: 0 auto;
    padding: 0;
}

.ui-menu-list {
    display: flex;
    text-align: center;
}

.ui-menuitem-link.active .ui-menuitem-text {
    color: #4a7dd5 !important;
}

.ui-card {
    margin: 24px 32px;
}

.ui-selectmanycheckbox {
    margin-block-start: 12px;
}

.ui-card-body {
    margin-block-start: 24px;
}

.settings-button-wrapper,
.filter-button-wrapper {
    margin-block-start: 32px;
}

.filter-slider-wrapper {
    display: flex;
    align-items: center;
    margin-block-start: 12px;
}

.filter-slider-wrapper .ui-slider {
    width: min(100%, 350px);
    margin-inline-start: 16px;
}

.filter-slider-wrapper .ui-slider-input {
    min-height: 28px;
    border-radius: 2px;
    box-shadow: none;
    outline: 1px solid #333;
    border: none;
    padding: 8px;
}
